Debug/
Release/
assets/FileSyncs/*
fruithunter/assets/PerformanceAnalysis/RuntimeAnalysis.txt
x64/
.vs/
assets/captures/backbuffer.png
assets/settings.txt
fruithunter/assets/captures/backbuffer.png
assets/settings.txt
assets/SaveStates/*
fruithunter/assets/SaveStates/*
fruithunter/Debug/
fruithunter/Release/
fruithunter/x64/
fruithunter/*.cso
fruithunter/assets/FileSyncs/*
/fruithunter/assets/Meshes/Textures/loadingScreen.pdn
/fruithunter/assets/captures/backbuffer.png
/newFontTest.pdn
/newFontTest.png
fruithunter/assets/settings.txt
/NyFont.pdn
/ThickBubble.png
/ThickBubble.pdn
