Debug/
Release/
assets/FileSyncs/*
fruithunter/assets/PerformanceAnalysis/RuntimeAnalysis.txt
x64/
.vs/
fruithunter/Debug/
fruithunter/Release/
fruithunter/x64/
fruithunter/*.cso
fruithunter/assets/FileSyncs/*
/fruithunter/assets/Meshes/Textures/loadingScreen.pdn
